/* frontend/src/index.css */

:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 320px;
  min-height: 100vh;
}

/* Garante que todos os elementos respeitem o tamanho da caixa */
*, *::before, *::after {
  box-sizing: border-box;
}